/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

/* Resetting Bootstrap Grid */
.row, *[class^="col"]{
    margin: 0px !important;
    padding: 0px !important;
}

.bgc-1{
    background-color:var(--color-1);
}
.bgc-2{
    background-color:var(--color-2);
}
.bgc-3{
    background-color:var(--color-3);
}
.bgc-4{
    background-color:var(--color-4);
}
.bgc-5{
    background-color:var(--color-5);
}
.bgc-6{
    background-color:var(--color-6);
}
.bgc-7{
    background-color:var(--color-7);
}
.bgc-8{
    background-color:var(--color-8);
}
.bgc-9{
    background-color:var(--color-9);
}
.bgc-10{
    background-color:var(--color-10);
}
.bgc-11{
    background-color:var(--color-11);
}
.bgc-12{
    background-color:var(--color-12);
}
.bgc-13{
    background-color:var(--color-13);
}
.bgc-14{
    background-color:var(--color-14);
}

.c-1{
    color: var(--color-1);
}
.c-2{
    color: var(--color-2);
}
.c-3{
    color: var(--color-3);
}
.c-4{
    color: var(--color-4);
}
.c-5{
    color: var(--color-5);
}
.c-6{
    color: var(--color-6);
}
.c-7{
    color: var(--color-7);
}
.c-8{
    color: var(--color-8);
}
.c-9{
    color: var(--color-9);
}
.c-10{
    color: var(--color-10);
}
.c-11{
    color: var(--color-11);
}
.c-12{
    color: var(--color-12);
}
.c-13{
    color: var(--color-13);
}
.c-14{
    color: var(--color-14);
}
