.postcard-area{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.postcard{
    height: fit-content;
    width: fit-content;
    position: relative;
    display: inline-block;
    margin: auto auto auto auto;
}
.background{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: brightness(40%);
    -webkit-user-drag: none;
    user-select: none;
}
.interactable{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    color: var(--color-13);
    font-size: var(--font-sm);
    min-height: 2rem;
    min-width: 2rem;
    touch-action: none;
    user-select: none;
}