.button{
    width: 100%;
    padding: var(--padding-md);
    margin-bottom: var(--margin-lg);
    font-size: var(--font-md);
    background-color: var(--color-2);
    color: var(--color-13);
    border-radius: 5px;
    border: 0px;
    box-shadow: var(--shadow-sm);
    cursor: pointer;
}
.button.inline{
    margin-left: var(--margin-sm);
    margin-right: var(--margin-sm);
}
.button:hover{
    background-color: var(--color-1);
} 
.button:active{
    box-shadow: none;
}